<!DOCTYPE html>

<!-- footer donde se recoge todas las redes sociales de (wamos) -->

<footer class="footer">
  <!-- link a pagina web de (factoria-F5) -->
  <div class="factorialogo"><a target="_blank" href="http://factoriaf5.org/"><img src="/img/factoriaf5.png" alt="web de factoriaf5" /></a> </div>

  <!-- link a twitter de (wamos) -->
                        <!-- warning que pasa con este link que no funciona -->
  <div class="continue"><a href="https://twitter.com/can_f5">siguenos en twitter</a></div>
  <div class="contacto">Contacto</div>

  <!-- link a el correo principal de (wamos) -->
  <div class="gmail">wamos@gmail.com</div>

  <!-- link a twitter de (wamos) i esto por qune esta aqui?-->
                        <!-- warning que pasa con este link que no funciona -->
  <div class="twitter"><a target="_blank" href="https://twitter.com/can_f5"><img src="/img/twitter.png" alt="twitter" /></a> </div>

  <!-- imagen de fondo del footer -->
  <img src="/img/footerfondo.png" alt="footerfondosdes">
</footer>
