<ul class="nav justify-content-end pt-3">
      <li class="nav-item">
        <a class="nav-link disabled" href="#">La app</a>
      </li>
        <div class="logocorp"><img src="/img/Wamoslog.png" alt="logo corporativo"></div>
             <li class="nav-item">
                 <a class="nav-link disabled" href="#">Descarga</a>
             </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Como funciona</a>
                    </li>
                           <li class="nav-item">
                               <a class="nav-link disabled" href="#">Quien somos</a>
                           </li>
                                 <li class="nav-item">
                                    <a class="nav-link disabled" href="#">Contacto</a>
                                 </li>
</ul>
