<div class="bloque sobre nosotros">
                <img src="/img/fondoop.png" alt="fondo roses" class="fondos">
                    <div class="titlef"><h2><b>Sobre nosotros</b></h2></div>
                        <div class="grupo">
                              <p>Somos un grupo de coders motivados
                                 con nuestro trabajo. Creemos en las capacidades
                                 del ser humano, en sus ilusiones y en su iniciativa.
                              <div class="p2"><b>#rompemosloscodigos</b></div></p>
                        </div>


                        <div class="nombreg">Gabriele</div>
                             <img src="/img/gabriele.jpg" alt="creador gabriel" class="gagriel">
                             <div class="gabriellin"><a target="_blank" href="https://www.linkedin.com/in/gabrielescano/"><img src="resources\img\logos\carlos.png" alt="gabriel linkedin" /></a> </div>

                        <div class="nombrek">Khadim</div>
                             <img src="/img/khadim.png" alt="creador khadim" class="khadim">
                             <div class="khadimli"><a target="_blank" href="https://www.linkedin.com/in/khadim-sene-b80238161/"><img src="resources\img\logos\carlos.png" alt="khadim linkedin" /></a> </div>
                        <div class="nombrec">Carlos</div>
                             <img src="/img/carlos.jpg" alt="creador carlos" class="carlos">
                             <div class="carlosli"><a target="_blank" href="https://www.linkedin.com/in/carlos-cruz-564514162/"><img src="resources\img\logos\carlos.png" alt="carlos linkedin" /></a> </div>

                        <div class="nombrem">Mauro</div>
                             <img src="/img/mauro.jpg" alt="creador mauro" class="mauro">
                             <div class="mauroli"><a target="_blank" href="https://www.linkedin.com/in/marreroriveromauroivan/"><img src="resources\img\logos\carlos.png" alt="mauro linkedin" /></a> </div>

                        <div class="nombrej">Javier</div>
                             <img src="/img/javier.jpg" alt="creador javier" class="javier">
                             <div class="javierli"><a target="_blank" href="https://www.linkedin.com/in/jsese/"><img src="resources\img\logos\carlos.png" alt="javier linkendin" /></a> </div>
