
                <div class="bloque como funciona">
                  <img src="/img/phones figma.jpg" alt="como funciona la app" class="movil1">
                  <div class="titlee"><h2><b>Como funciona</b></h2></div>

                </div>
