                <div class="grupodeimagenes">
                  <img src="OficialWamos\public\img\fondomovil.png" alt="fondo" class="fondo">

                           <h2 class="eco"><b>Economía local</b></h2>
                             <div class="econo">Tu vecino podría ser tu transportista
                                                o tú podrías ser su profesora de inglés...
                                                Reactivamos la red de trabajo vecinal.
                             </div>

                           <h2 class="ahorro"><b>Ahorro y visibilidad</b></h2>
                             <div class="crea">Crea tu escaparate a coste cero.
                                               Define tu perfil en pocos clicks
                                               y ofrece el mejor servicio a tu
                                               comunidad.
                             </div>

                           <h2 class="tiempo"><b>Valora tu tiempo</b></h2>
                             <div class="esti">¿Trabajas? Gestiona tu agenda de trabajo porque eres tu único jefe.
                                               Busca y Elije el profesional a medida para ti.
                             </div>

                           <h2 class="Confianza"><b>Confianza</b></h2>
                             <div class="Promueve">Promueve a quién lo ha hecho bien.
                                                   Las evaluaciones de cada uno ayudan
                                                   a la comunidad a crecer sana, justa
                                                   y altruista.
                             </div>
                </div>
