
                <div clas="bloque de descargas">
                   <img src="/img/fondodescargas.png" alt="fondo" class="fondodescargas">
                       <div class="titled"><h2><b>Descarga tu App gratis</b></h2></div>
                            <div class="appestore"><a target="_blank" href="https://www.apple.com/es/"><img src="/img/appestore.png" alt="app estore" /></a> </div>

                            <div class="googleplay"><a target="_blank" href="https://play.google.com/store"><img src="/img/googleplay.png" alt="app estore" /></a> </div>
                    </div>
