<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Express Handlebars - Proyecto 2</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/body.css">
</head>
<body>


    <!-- Calls `foo` helper, overridden at render-level. -->
    {{> header }}

    <!-- Uses built-in `if` helper. -->
    {{{body}}}
    {{> section1 }}
    {{> section2 }}
    {{> section3 }}
    {{> section4 }}
    {{> section5 }}

    <!-- Calls `bar` helper, defined at instance-level. -->
    {{> footer }}
</body>
</html>
