.logocorp img{
  position: absolute;
  height: 10%;
  left: 2%;
  top: -1%;
}

.body{
  font-family: 'Montserrat', sans-serif;
}

.fondoge{
  position: absolute;
  top: 9%;
  width: 100%;
}

.title h2{
  font-size: 35px;
  font-weight: normal;
  position: absolute;
  bottom: -20%;
  left: 46.5%;

}

.laapp p {
  font-size: 20px;
  text-align: center;
  position: absolute;
  bottom: -40%;
}

.fondo{
  position: absolute;
  bottom: -139%;
  width: 100%;
  /* height: 150%; */
}

.eco{
  font-size: 24px;
  position: absolute;
  bottom: -71%;
  left: 38.3%;
}

.econo{
  text-align: left;
  font-size: 18px;
  position: absolute;
  bottom: -89%;
  left: 34.7%;
  width: 25%;
}

.ahorro{
  font-size: 24px;
  position: absolute;
  bottom: -72%;
  left: 75.5%;
}

.crea{
  text-align: left;
  font-size: 18px;
  position: absolute;
  bottom: -84%;
  left: 70%;
}

.tiempo{
  font-size: 24px;
  position: absolute;
  bottom: -113%;
  left: 39%;
}

.esti{
  font-size: 18px;
  position: absolute;
  bottom: -132%;
  left: 34.7%;
  width: 25%;
}

.Confianza{
  font-size: 24px;
  position: absolute;
  bottom: -114%;
  left: 78.5%;
}

.Promueve{
  font-size: 18px;
  position: absolute;
  bottom: -132%;
  left: 71%;
  width: 25%;
}

.fondodescargas{
  position: absolute;
  bottom: -194%;
  width: 100%;
}

.titled h2{
  text-align: center;

  font-size: 24px;
  position: absolute;
  bottom: -155%;
  left: 42%;
}

.appestore{
  position: absolute;
  bottom: -180%;
  left: 25%;
}

.googleplay{
  position: absolute;
  bottom: -180%;
  left: 62%;
}

.movil1{
  position: absolute;
  bottom: -285%;
  width: 100%;
}

.titlee h2{
  font-size: 28px;
  position: absolute;
  bottom: -207%;
  left: 43%;
}

.fondos{
  width:100%;
  position: absolute;
  bottom: -379%;
}

.titlef h2{
  font-size: 26px;
  position: absolute;
  bottom: -296%;
  left: 42%;
}

.grupo p {
  text-align: center;
  font-size: 24px;
  position: absolute;
  bottom: -310%;
  left: 10%;
  right: 7%;
}

.p2{
  font-size: 25px;
  position: absolute;
  bottom: -315%;
  left: 40%;
}

.gagriel{
  border-radius: 100%;
  height: 29.5%;
  width: 15.6%;
  border:5px solid #000000;
  position: absolute;
  bottom: -350%;
  left: 6%;
}

.khadim{
  border-radius: 100%;
  border:5px solid #000000;
  height: 29.5%;
  width: 15.6%;
  position: absolute;
  bottom: -350%;
  left: 25%;
}

.carlos{
  border-radius: 100%;
  border:5px solid #000000;
  height: 29.5%;
  width: 15.6%;
  position: absolute;
  bottom: -350%;
  left: 43%;
}

.mauro{
  border-radius: 100%;
  border:5px solid #000000;
  height: 29.5%;
  width: 15.6%;
  position: absolute;
  bottom: -350%;
  left: 61%;
}

.javier{
  border-radius: 100%;
  border:5px solid #000000;
  height: 29.5%;
  width: 15.6%;
  position: absolute;
  bottom: -350%;
  left: 80%;
}

.nombreg{
  font-size: 26px;
  position: absolute;
  bottom: -357%;
  left: 10%;
}

.nombrek{
  font-size: 26px;
  position: absolute;
  bottom: -357%;
  left: 29%;
}

.nombrec{
  font-size: 26px;
  position: absolute;
  bottom: -357%;
  left: 48%;
}

.nombrem{
  font-size: 26px;
  position: absolute;
  bottom: -357%;
  left: 66%;
}

.nombrej{
  font-size: 26px;
  position: absolute;
  bottom: -357%;
  left: 86%;
}

.gabriellin{
  position: absolute;
  bottom: -367%;
  left: 12%;
}

.carlosli{
  position: absolute;
  bottom: -367%;
  left: 49.5%;
}

.mauroli{
  position: absolute;
  bottom: -367%;
  left: 67.8%;
}

.javierli{
  position: absolute;
  bottom: -367%;
  left: 87%;
}

.khadimli{
  position: absolute;
  bottom: -367%;
  left: 31.5%;
}
.footer{
  position: absolute;
  bottom: -400%;
  width: 100%;

}

.factorialogo{
  position: absolute;
  bottom: 35%;
  left: 3%;
}

.twitter{
  position: absolute;
  bottom: 33%;
  left: 80%;
}

.continue{
  position: absolute;
  left: 76.5%;
  bottom: 13%;
}

.contacto{
  position: absolute;
  left: 45%;
  bottom: 50%;
}

.gmail{
  position: absolute;
  left: 42%;
  bottom: 30%;

}
